
#hotsport{
	
	font-size: 24px;
	color: #770000;
}
#banner{
	background: teal;
	position: fixed;
	overflow: hidden;
	width: 100%;
	top: 0;
	z-index: 10;
}
#logobanner{
	float: left;
	background-color: teal;
	width: 50%;
}
#kenyalogo{
	background-color: teal;
	width: 40%;
	float: left;
}
#coronalogo{
	background-color: teal;
	width: 60%;
	float: right;
}
#menubanner{
	width: 50%;
	background-color: teal;
	margin-left: 50%;
}
#menubar ul{
	display: inline-flex;;
	list-style: none;
	width: 90%;
}
#menubar ul li{

	width: 100%;
	list-style: none;
	background-color: white;
	float: left;
	position: relative;
	width: 120px;
	height: 60px;
	text-align: center;
	border: 1px solid white;
}
#menubar ul li a{

	color: green;
}
#menubar #active{

	background-color: #ffab7a;

}
#menubar ul li:hover{
	background-color: #d25a00;

}
#menubar ul li a:hover{

	color: white;
}
#divdailybreiffing
{
	width: 30%;
	float: left;
	background-color: teal;
	margin-top: 160px;
}
#dailynews{
	margin :1%;
	padding: 2%;
	border-radius: 7px;
	background-color: white;
}
#divanalizeddata{
	width: 70%;
	float: right; 
	background-color: white;
	margin-top: 168px;


}
#divnewrecovery:hover{
border-style: inset;
border-width: 1px;
}

#divnewcases:hover{
border-style: inset;
border-width: 1px;
}
#divnewdeaths:hover{
border-style: inset;
border-width: 1px;
}
#divactivecases:hover{
border-style: inset;
border-width: 1px;
}
#divtotalrecovery:hover{
border-style: inset;
border-width: 1px;
}
#divtotaldeaths:hover{
border-style: inset;
border-width: 1px;
}
#divkenyapopulation:hover{
border-style: inset;
border-width: 1px;
}
#divatotalcases:hover{
	border-style: inset;
border-width: 1px;
}
#countytable{
	
	border-radius: 12px 12px 0px 0px;
	text-align: center;
	overflow: hidden;
	border-spacing: 0;
}
#countytable th{
	background: teal;
	color: white;
}
#countytable th,td{
	padding: 1% 2%;
}
#countytable tr:nth-child(odd){
	background: #C3C3C3;
}
#countytable tr:nth-child(even){
	background: #F0F0F0;
}
.loader{
   border-top: 16px solid teal;
  border-right: 16px solid white;
  border-bottom: 16px solid teal;
  border-left: 16px solid white;
   border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}